json_node-red.txt
[
    {
        "id": "1e26c9197372930d",
        "type": "tab",
        "label": "PIBIC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "313fc6867655baf8",
        "type": "mqtt in",
        "z": "1e26c9197372930d",
        "name": "Temperatura",
        "topic": "Temperatura",
        "qos": "2",
        "datatype": "json",
        "broker": "31e23aee8a76822b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "68db3ae31b2eef54",
                "95831e83c692168b",
                "a42903ce8e1a5772"
            ]
        ]
    },
    {
        "id": "68db3ae31b2eef54",
        "type": "change",
        "z": "1e26c9197372930d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"temperatura\": msg.payload.t\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "effeb4f6775411f7"
            ]
        ]
    },
    {
        "id": "effeb4f6775411f7",
        "type": "influxdb out",
        "z": "1e26c9197372930d",
        "influxdb": "338bed8daa067131",
        "name": "banco de dados",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "95831e83c692168b",
        "type": "debug",
        "z": "1e26c9197372930d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "02757dd89f996365",
        "type": "ui_text",
        "z": "1e26c9197372930d",
        "group": "5ea00d25cb532294",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Especie",
        "label": "Espécie ",
        "format": "{{msg.payload.species}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "8f14c6ef47954150",
        "type": "ui_text",
        "z": "1e26c9197372930d",
        "group": "5ea00d25cb532294",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Média da Idade",
        "label": "Média da Idade",
        "format": "{{msg.payload.age}} anos",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "c0a473eefef3854d",
        "type": "ui_text",
        "z": "1e26c9197372930d",
        "group": "5ea00d25cb532294",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Ração",
        "label": "Ração",
        "format": "{{msg.payload.food}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "592df133028f3981",
        "type": "ui_template",
        "z": "1e26c9197372930d",
        "group": "5ea00d25cb532294",
        "name": "Fish Image",
        "order": 4,
        "width": "6",
        "height": "6",
        "format": "<img src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRGjAwF90iaHd1IzIa_KOIs5du60KrjRtYGzLXkLyPevP_CnbRV' style='max-width:100%;'/>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "bdfe7b87892952fb",
        "type": "inject",
        "z": "1e26c9197372930d",
        "name": "Fish Info",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "{\"species\":\"Tilapia\",\"age\":2,\"food\":\"Ração Extrusada\"}",
        "payloadType": "json",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "02757dd89f996365",
                "8f14c6ef47954150",
                "c0a473eefef3854d"
            ]
        ]
    },
    {
        "id": "3d7a95bf9726522f",
        "type": "ui_gauge",
        "z": "1e26c9197372930d",
        "name": "",
        "group": "d0d16313fa88c993",
        "order": 4,
        "width": "6",
        "height": "9",
        "gtype": "donut",
        "title": "Temperatura",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "a42903ce8e1a5772",
        "type": "function",
        "z": "1e26c9197372930d",
        "name": "function 1",
        "func": "var tempValue = msg.payload.t; // Acessa o valor da temperatura diretamente\ntempValue = tempValue.toFixed(1);\nmsg.payload = tempValue; // Define o payload como o valor da temperatura\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 500,
        "wires": [
            [
                "3d7a95bf9726522f"
            ]
        ]
    },
    {
        "id": "31e23aee8a76822b",
        "type": "mqtt-broker",
        "name": "rasp_docker_mosquitto",
        "broker": "100.95.117.67",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "338bed8daa067131",
        "type": "influxdb",
        "hostname": "100.95.117.67",
        "port": "8086",
        "protocol": "http",
        "database": "sensor_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "5ea00d25cb532294",
        "type": "ui_group",
        "name": "",
        "tab": "37bbc7fce26f27d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0d16313fa88c993",
        "type": "ui_group",
        "name": "",
        "tab": "37bbc7fce26f27d0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37bbc7fce26f27d0",
        "type": "ui_tab",
        "name": "Dashboard do Tanque ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]